# Core Framework
fastapi
uvicorn
# Machine Learning and NLP
torch
transformers

# Audio Processing
soundfile
librosa
pydub

# Numerical Computation
numpy

# Database
SQLAlchemy

# Authentication and Security
passlib
python-jose

# Utility Libraries
werkzeug


